*{
    -fx-background-color: #3a4559;
    -fx-text-fill: white;
}

.big {
    -fx-font-size: 16pt;
}

Button, Label, ChoiceBox, Slider {
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #353b4a;
}

Button:hover {
    -fx-background-color: #616c87;
}

ChoiceBox >* {
    -fx-background-color: #353b4a;
}

Slider .axis {
    -fx-tick-label-fill: white;
}
Slider .track {
    -fx-background-color: #353b4a;
}

Slider .track:hover {
    -fx-background-color: #616c87;
}

Slider .thumb {
    -fx-background-color: #85939e;
}
